# =========================================
# PYTHON
# =========================================

venv/
env/
ENV/

__pycache__/
*.pyc
*.pyo
*.pyd

# =========================================
# DJANGO
# =========================================

db.sqlite3
media/
staticfiles/

# =========================================
# FASTAPI / AI
# =========================================

*.h5
*.keras
*.pkl
*.joblib

datasets/
dataset/
data/

outputs/
recordings/

*.wav
*.mp3

debug_image.jpg
temp_face.jpg

# =========================================
# NODE / REACT
# =========================================

node_modules/
build/

# =========================================
# VS CODE / IDE
# =========================================

.vscode/
.idea/

# =========================================
# OS FILES
# =========================================

.DS_Store
Thumbs.db

# =========================================
# ENV FILES
# =========================================

.env

# =========================================
# LOGS
# =========================================

*.log